.header-section{
    background:linear-gradient( 270deg, #ff9472 0%, #f2709c 100%);
}
.border-bootom-header{
    border-bottom: 1px solid #fff;
}
.cmm ul li a{}
.cmm ul li ul{}
.cmm ul li {
    position: relative;
    margin: 0 45px;
}
.cmm ul li ul {

    top: 100%;
    left: 0%;
    width: 500px;    position: absolute;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    z-index: 1;
    padding-left: 0;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
    
}

.cmm ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

}
.cmm ul li ul::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 15px 8px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 5%;
    top: -2%;
}
.cmm ul li ul li {
    display: block;
    width: 50%;
    text-align: center;
    border: 1px solid #d5d5d5;
    padding: 15px 37px;
    margin: 0;
}
.cmm ul li ul li a {
    text-decoration: none;
    display: block;
}
.cmm ul li ul li a img{}
.cmm ul li ul li a span {
    display: block;
}