#gi li a{
color: red;
text-decoration:none;

}
.as li:first-child a {
color: red;
text-decoration:none;
margin:40px;
}
.as li:last-child a {
text-decoration:none;
color:green;
}
.as li: nth-child(even) a{
color:red;
}
.as li:nth-child(5) a{
    
    color:red ;
}
.as li:nth-child(7) a{
color: green;
background:black;
text-decoration:none;

}
#hd{
height: 300px;
width: 300px;
background:green;
}
#hd:hover{
background: red;
transition:.5s;
cursor: pointer;
}