body{
    font-family: 'Source Sans Pro', sans-serif;
}
.full-screen-section video{
    max-width: 100%;
}
.video-background{
    position: relative;
}
.video-background video{
    z-index: -22;
}
.video-background::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0;
    background-color:transparent;
}
.full-screen-section{
    position: relative;
}
.main-section{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}
.my-bg {
    background-color: transparent;
    padding: 35px 0;
}
.my-brand {
    color: #fff !important;
    font-size: 40px;
    font-weight: 300;
}
.my-ul{}
.my-ul li{}
.my-ul li a {
    text-decoration: none;
    color: #fff;
    padding: 27px 62px;
    padding-top: 0;
    display: block;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #ffffff;
    margin: 0 15px;
    position: relative;
    transition: .4s;
}
.my-ul li a:hover{
    color: #99FF66;
    border-color: #99FF66;

}
.my-ul li a:hover::before{
    background-color: #99FF66 !important;
}

.my-ul li a::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
body .container-fluid{
    max-width: 1450px !important;
}
.astro-title {
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding:42px 30px;
    width: 61%;
    margin: 50px 0;
}
.astro-title h6 {
    font-size: 30px;
}
.astro-title p {
    font-size: 20px;
    font-weight: 300;
}
.astro-title p a {
    color: #99ff66;
    text-decoration: none;
    transition: .4s;
}
.astro-title p a:hover{
    color: #3CF;
}
.astro-image {
    width: 30%;
    margin-top: 50px;
    margin-left: 4%;
}
.astro-image img{
    margin-bottom: 20px;
}
.astro-motion {
    position: relative;
    border-bottom: 1px solid #ffffff;
}
.astro-motion::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: -10px;
    left: -1%;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
.astro-motion::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: -10px;
    right: -1%;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
.astro-2{
    position: relative;
    border-top: 1px solid #fff;
    
    max-width: 840px;
}
.astro-2::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: -10px;
    right: -1%;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
.astro-2::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: -10px;
    left: -1%;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}
.button-button{
    max-width: 840px;
    text-align: center;
    margin-top: 30px;
}
.button-button .bg-white{
    padding: 15px 20px;
}
.button-button .bg-white:hover{
    color:  #5cac38;
}
.footer-content p {
    font-weight: 300;
    font-size: 18px;
}
.active {
    color: #99FF66 !important;
    border-color: #99FF66 !important;
}
.active::before {
    background: #99FF66 !important;
}

.my-slider {}
.my-slider li{}
.my-slider li button {
    background: #fff;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    font-size: 0px;
    position: relative;
}
.my-slider li button::before {
    content: "";
    height: 100%;
    width: 100%;
    background: #3ccdff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
}
.my-slider li button:hover::before{
    opacity: 1;
    visibility: visible;
}
.my-slider li button:visited::before{
    background-color: #3ccdff !important;
}
.gallery-item{
    position: relative;
    overflow: hidden;
}
.image-gallery{
    overflow: hidden;
}
.gallery-item:hover img{
    transform: scale(1.1);
}
.image-gallery img{
    transition: .5s;
}
.gallery-item:hover .gallery-hover{
    opacity: 1;
    visibility: visible;
}

.gallery-item:hover .galaery-boss{
    transform: translateX(0);
    opacity: 1;
}

.gallery-hover {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background: rgb(17 17 17 / 28%);
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
.galaery-boss p {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
}
.galaery-boss {
    background: #fff;
    color: #111;
    padding: 20px 25px;
    transform: translateX(-200px);
    transition: .5s;
    opacity: 0;
}
.slider-effect {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}