*{
    margin: 0;
    padding: 0;
}
.main-div{
    background-color: #767676;
    width: 100%;
}
.m::after{
    content: '';
    display: block;
    clear: both;
}
.div1{
    width: 400px;
    height: 200px;
    background-color: #fff;
    float: left;
}
.div2{
    width: 400px;
    height: 200px;
    background-color: #eee;
    float: right;
}
.div-desh{
    width: 100%;
    height: 200px;
    background-color: red;
}