.menu ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5px;
  position:relative;
  
}
*{
  margin: 0;
  padding: 0;
  
}
.menu ul li{
  display:inline-block;
  
}
.menu ul li a{
  background:white;
  color: gray;
  font-size: 25px;
  margin-left: -4px;
  padding:10px 15px;
  display:inline-block;
  
}
.menu{
 
  
}
.menu ul li:hover>a{
  color:blue;
}
.post ul{
  margin-top: 10px;
  text-align: center;
}
.post ul li{
  
  
}
.post ul li a{
  font-size: 20px;
  background:gray;
  color:white;
  border: 1px solid black;
  position: relative;
  right: 140px;
  height:40px;
  width: 40px;
 line-height:40px;
  display:inline-block;
  border-radius: 50%;
  
}
.post{
  display: block;
  margin-top: 20px;
  
}
.post .tt {
  border:.5px solid black;
  height:40px;
  width:280px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 20px;
  display: block;
  position: relative;
  bottom: 42.2px;
  left: 70px;
  color:gray;
  text-align: center;
  
  
}
.hh{
  position:relative;
  bottom: 20px;
}
.photo ul{
  text-align: center;
 position: relative;
 bottom:15px;

}
.photo ul li a{
  color:green;
  text-decoration: none;
  display:block;
  padding:10px 28px;
  border-right: 1px solid gray;
  font-size: 15px;
  
}
.photo ul li:last-child a{
  border-right: none;
  
}
.photo ul li{
  display: inline-block;
  margin-left: -5px;

}
  

  body{
    background: rgb(206, 209, 214);
    
  }
  .full{
    background: #fff;
    
  }
  .tti h1{
    color:blue;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    position: relative;
    top: 1px;
    letter-spacing: 5px;
  }
  .gap{
    height: 10px;
    width: 100%;
    background:rgb(206, 209, 214);
  }
.now ul{
  text-align: center;
  position: relative;
  right: 120px;
}
.now ul li{
 
}
.now ul li a{
  text-decoration: none;
  color: MediumBlue;
  border:.5px solid mediumblue;
  height: 35px;
  width:90px;
  display:inline-block;
  line-height: 35px;
  border-radius: 20px;
  
}
.now{
  height:60px;
  line-height:60px;
  position: relative;
}
.click ul li{
  display: inline-block;
  
}
.click ul{
  position: relative;
 right: 0;
  
}
.click ul li:nth-child(1) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
}

.click{
  position: absolute;
  top:0;
  left: 110px;
  
}
.click ul li:nth-child(2) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
}.click ul li:nth-child(3) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
}.click ul li:nth-child(4) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
}.click ul li:nth-child(5) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
}