






*{
  margin: 0;
  padding: 0;
  
}


.main{
  text-align: center;
  margin: 40px;
}






.menu{
  
  
}






.menu ul{
  background: orange;
  
}
.menu ul li  {
  display: inline-block;
}





.menu ul li a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px px;
  
  
  
  
}







