*{
  margin: 0;
  padding: 0;
}
.fw{}
.menu{
  background:#00a8ff;
}
.bn img{
  
  
}
.ct{
  
  background:#0097e6 ;
}
.ft{
  background:#353b48 ;
  
}
.fb{
  background:#2f3640 ;
  
}

body{
  background: red;
  
  
  
}