*{
	margin: 0;
	padding: 0;
}

.main {
	border:1px solid black;
	width: 800px;
	margin: 30px auto;
	text-align: center;
}
.op {
	margin: 22px;
	height: 150px;
	width: 150px;
	background: red;
	display: inline-block;
	transition: .5s;
}
.div1:hover {
	transform: translate(-30px,-70px);
}
.div2:hover {
	transform: rotate(97deg);
}
.div3:hover {
	transform: skew(30deg,70deg);
}
.div4:hover {
	
}