.menu ul{
  list-style-type: none;
  text-align: center;
  margin-top: 5px;
  position:relative;
  
}
*{
  margin: 0;
  padding: 0;
  
}
.menu ul li{
  display:inline-block;
  
}
.menu ul li a{
  background:white;
  color: gray;
  font-size: 25px;
  margin-left: -4px;
  padding:10px 15px;
  display:inline-block;
  
}
.menu{
 
  
}
.menu ul li:hover>a{
  color:blue;
}
.post ul{
  margin-top: 10px;
  text-align: center;
}
.post ul li{
  
  
}
.post ul li a{
  font-size: 20px;
  background:gray;
  color:white;
  border: 1px solid black;
  position: relative;
  right: 140px;
  height:40px;
  width: 40px;
 line-height:40px;
  display:inline-block;
  border-radius: 50%;
  
}
.post{
  display: block;
  margin-top: 20px;
  
}
.post .tt {
  border:.5px solid black;
  height:40px;
  width:280px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 20px;
  display: block;
  position: relative;
  bottom: 42.2px;
  left: 70px;
  color:gray;
  text-align: center;
  
  
}
.hh{
  position:relative;
  bottom: 20px;
}
.photo ul{
  text-align: center;
 position: relative;
 bottom:15px;

}
.photo ul li a{
  color:green;
  text-decoration: none;
  display:block;
  padding:10px 28px;
  border-right: 1px solid gray;
  font-size: 15px;
  
}
.photo ul li:last-child a{
  border-right: none;
  
}
.photo ul li{
  display: inline-block;
  margin-left: -5px;

}
  

  body{
    background: rgb(206, 209, 214);
    
  }
  .full{
    background: #fff;
    
  }
  .tti h1{
    color:blue;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    position: relative;
    top: 1px;
    letter-spacing: 5px;
    font-weight: bold;
  }
  .gap{
    height: 10px;
    width: 100%;
    background:rgb(206, 209, 214);
  }
.now ul{
  text-align: center;
  position: relative;
  right: 120px;
}
.now ul li{
 
}
.now ul li a{
  text-decoration: none;
  color: MediumBlue;
  border:.5px solid mediumblue;
  height: 35px;
  width:90px;
  display:inline-block;
  line-height: 35px;
  border-radius: 20px;
  
}
.now{
  height:60px;
  line-height:60px;
  position: relative;
  box-shadow: 1px 1px 1px white;
}
.click ul li{
  display: inline-block;
  
}
.click ul{
  position: relative;
 right: 0;
  
}
.click ul li:nth-child(1) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
  color:white;
}

.click{
  position: absolute;
  top:0;
  left:110px;
  
}
.click ul li:nth-child(2) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
  color:white;
}.click ul li:nth-child(3) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
  color:white;
}.click ul li:nth-child(4) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
  color:white;
}.click ul li:nth-child(5) a{
  
  
  border:none;
  height: 45px;
  width:45px;
  display:inline-block;
  line-height: 45px;
  border-radius:50px;
  background: gray;
  color:white;
}

  

  
  .active-main{
    height: 200px;
    width: 100%;
    position:relative;
   
    
  }
  .active-main .active img{
  max-height: 100%;
  border-radius: 10px;
  border:1px solid black;
  box-shadow: 1px 1px 1px black;
  }
  .active ul li{
    height: 120px;
    width: 40px;
    position:relative;
    top:16px;
    left: 30px;
    
    
  }
  
  .active-main .active ul li .activrp{
    height:120px;
    width: 40px;
    
    
    
  }
  .active-main .active ul{
    list-style-type: none;
    
    
  }
  
  .active-main .plus{
    position: absolute;
    top:100px;
    left:50px;
    text-align:center ;
  }
  
  .active-main .plus i{
    background:#327fe3 ;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
    color:white;
    border-radius: 50%;
    border:2px solid white;
    
    
  }
  
  
  /*  Comment     */
  
  .active-main .friend {
    position: absolute;
    top:0;
    left: 55px;
    text-align: center;
    
    
  }
  .active-main .friend ul {
    
    
    
  }
.active-main .friend ul li {
    
    display: inline-block;
    margin-left: 20px;
  
    
}
.active-main .friend ul li a{
  background: gray;
  height: 100%;
  color:white;
  width: 55px;
  display: inline-block;
  line-height: 140px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  
  
}
.active-main .info{
  
  text-align: center;
  
}
.active-main .info ul{
  position: absolute;
  top:22px;
  left: 108px;
  
}
.active-main .info ul li{
  display: inline-block;
  
}
.active-main .info ul li:nth-child(1) a{
  color:#fff;
  height: 30px;
  width: 30px;
  background: #327fe3;
  display:inline-block;
  line-height: 30px;
  border-radius: 50px;
  font-size: 20px;
  
}

 .active-main .info ul li:nth-child(2) a{
  color:#fff;
  height: 30px;
  width: 30px;
  background: #327fe3;
  display:inline-block;
  line-height: 30px;
  border-radius: 50px;
  font-size: 20px;
  position: relative;
  left: 30px;
  
}
 
  
  
.active-main .info ul li:nth-child(3) a{
  color:#fff;
  height: 30px;
  width: 30px;
  background: #327fe3;
  display:inline-block;
  line-height: 30px;
  border-radius: 50px;
  font-size: 20px;
position: relative;
  left: 60px;
}

  
.active-main .info ul li:nth-child(4) a{
  color:#fff;
  height: 30px;
  width: 30px;
  background: #327fe3;
  display:inline-block;
  line-height: 30px;
  border-radius: 50px;
  font-size: 20px;
position: relative;
  left: 90px;
}
.hdi{
margin-top: 30px;
text-align: center;
}
  .Heading {
    text-decoration: none;
    background:rgba(62, 117, 207, .1) ;
    display: inline-block;
    padding:10px 90px;
    font-size: 20px;
    border-radius: 10px;
    color:#327fe3;
    
    
    
  }
  
  
  
  
  
  
  
  
  
  
  .pop h3 b{
 font-weight: 400;
  }
  .pop{
    height: 400px;
    width: 100%;
    position: relative;
    
    
  }
  .pop a{
    text-decoration: none;
    color:black;
   
    
font-size: 15px;
    position: relative;
    left:40px;
    top:10px;
    display: inline-block;
    margin:20px;
    padding:0 2px;
  }
  .bondi p::after{
    content: "Updated his profile picture.";
    position: absolute;
    top:35px;
    left: 160px;
    color:gray;
    font-size: 10px;
  }
  .pop a:hover{
    background: rgba(195, 202, 214,.2);
    
  }
  .content-main .pic{
    position: absolute;
    top:-13px;
    left: -50px;
    text-align: center;
    
    
  }
  .pic ul{
    
    
  }
  .pic ul li{
    
    
  }
  .pic ul li a{
    height: 50px ;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    background: gray;
    color:white;
    border-radius: 50%;
    padding:0;
    
  }
  .pic ul li a:hover{
    background: rgba(12, 13, 12,.1);
   
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .content-main .tme{
    
  }
  .content-main .tme p::before{
    content: "\f57c";
    font-family:"Font Awesome 5 Free" ;
    font-weight: 900;
    position: absolute;
    top:53px;
    left: 97px;
    font-size: 12px;
  }
  .content-main .tme .ert::before{
    content:"5h •";
    position: absolute;
    top: 52px;
    left: 75px;
    font-weight: 400;
    font-size: 12px;
    
    
    
  }
  



.pst-div .pst p{
  margin-left:10px;
  
}
.pst-div{
  height:100%;
  width: 100%;
  position: relative;
  bottom:320px;
  
}
.pst-div .psp img{
  max-width: 100%;
  margin-top:5px;
  box-shadow: 1px 1px 1px black;
  border:1px solid black;
  
}



.another{
  height: 400px;
  width: 100%;
  
  
}
.content-main{
  height: 450px;
  width: 100%;
  position: relative;
  
}
.content-main .like ul{
  
  
}
.content-main .like{
  position: relative;
  left: 10px;
  
}

.content-main .like ul li{
  display: inline-block;
  text-align: center;
  font-size: 5px;
  
}

.content-main .like ul li:nth-child(2) a{
  height: 25px;
  width: 25px;
  background: rgb(27, 100, 227);
  color:#fff;
  font-size: 17px;
  display: inline-block;
  line-height: 25px;
  border:2px solid white ;
  border-radius: 50%;
 
  position: relative;
  right: 8px;
  
  
}


  .content-main .like ul li:nth-child(1) a{
  
  height: 25px;
  width: 25px;
  background:red;
  color:white;
  font-size: 17px;
  display: inline-block;
  line-height: 25px;
  border:2px solid white ;
  border-radius: 50%;
  
  
  
}

 
  
  .comt .comn{
   text-decoration: none;
    color:gray;
    position: relative;
    right: 10px;
    
  }
  .comt{
  position: absolute;
    bottom: 110px;
    right: 0;
  }
  
  
  .hhhh{
    position: relative;
    bottom: 20px;
    
    
  }
  .another ul{
    
    
  }
.another ul li{
  
  
}
.another ul li a{
  font-size: 30px;
  color:gray;
  display: inline-block;
  padding:0 40px;
  
}
.another{
  
  
}

#ggg{
  font-size: 30px;
  
}