*{
	margin: 0;
	padding: 0;
	
}
.full{
}
.menu{
	
}
.menu ul{
	text-align: center;
	
}

.menu ul li{
	display: inline-block;
	
}

.menu ul li a{
	display: inline-block;
	padding:10px 17.3px ;
	color: gray;
	font-size: 20px;
}
.menu ul li a:hover{
	color:blue;
	border-bottom: 2px solid blue;
}

/*Post*/

.post{
	margin-top: 20px;
text-align: center;
}
.post .far i{
	 font-size: 20px;
	 background: gray;
	 height: 50px;
	 width: 50px;
	 line-height: 50px;
	 border-radius: 50%;
	 display: inline-block;
	 margin-right: 2px;
}
.post .sts{
	height: 60px;
	line-height: 60px;
	width: 280px;
	background: gray;
	border-radius:20px;
	text-decoration: none;
	display: inline-block;
}
