

body{
    background: #eeeeee;
}
img{
    max-width: 100%;
}

.header-logo img{
}
.board {
    max-width: 650px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.header-title{}
.title1 h4 {
    color: #95e17d;
    padding-top: 10px;
}
.title2 h5{
    color: #fff;
}
.header-banner{
    flex-basis: 220px;
    height: 41px;
    background: url(img/banner_flag.jpg) no-repeat center center;
}
.header-bar{
}
.table form {
    border: 1px solid #111;
    padding: 20px 30px;
}
.table {
    padding: 4% 13%;
    padding-bottom: 6%;
}
.title2 {
    margin-left: 10px;
}.title1 {
    width: 250px;
    border-bottom: 1px solid #95e17d;
    margin-left: 10px;
}
.header-link {
    background-color: rgb(158 205 144);
    text-align: right;
    border-top: 1px solid #fff;
}
.header-link a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    transition: .4s;
}
.header-link a:hover{
    color: #0C9;
}
.header-logo {
    width: 172px;
    height: 129px;
    background: #eeeeee;
    text-align: center;
    line-height: 129px;
    border-radius: 10px 0 0 10px;
    border-right: 3px solid #fff;
}
.header-title-tow {
    background: #007814;
}
.header-title-tow {
    background: #007814;
    border-radius: 0 10px 0 0;
}
label {
    width: 200px;
    font-weight: bold;
    padding: 4px !important;
    height: 30px;
    font-size: 13px !important;
    cursor: text;
}
.form-group label span::after{
    content: ":";
    margin-left: 18px;
}
.two {
    margin-left: 50px;
}
.three {
    margin-left: 40px;
}
.fore {
    margin-left: 53px;
}
.fiv {
    margin-left: 25px;
}
.six::after {
    content: "=" !important;
    margin-left: 50px !important;
}
.form-select {
    padding: 4px !important;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    background-color: #F4F0F2 !important;
}
option {
    font-size: 11px;
    font-weight: bold;
}
input {
    height: 27px;
    padding: 0 60px !important;
    margin-bottom: 6px;
    background: #F4F0F2 !important;
}
button {
    height: 25px;
    line-height: 0px !important;
    padding: 4px 14px !important;
    font-size: 12px;
    background: #F4F0F2 !important;
    font-weight: 400;
}
.footer-right p {
    margin-right: 15px !important;
    font-size: 13px;
    margin: 0;
}
.footer-right {
    flex-basis: 30%;
}
.footer-left {
    flex-basis: 70%;
}
.footer-left p {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    margin-left: 10px;
}
.align-items-center {
    align-items: center!important;
    height: 61px;
    background: #f2f2f2;
    border-radius: 0px 0px 10px 10px;
}
.footer-border-top {
    background: #86c775;
    height: 7px;
    border-bottom: 1px solid #fff;
}