.my-menu li {
  display: block;
  position: relative; }
  .my-menu li a {
    text-decoration: none;
    color: #ddd;
    padding: 7px 20px;
    display: block;
    font-size: 18px;
    transition: .4s; }
  .my-menu li:hover>a {
    color: #000;
    background: #ccc; }
.my-menu ul {
  width: 160px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  position: absolute;
  left: 0%;
  top: 100%;
  padding-left: 0; }
.my-menu li:hover ul {
  opacity: 1;
  visibility: visible; }
  .my-menu li ul li a{
    color: #000;
    
  }
.nvb {
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.search span {
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 8px 23px;
  cursor: pointer;
  transition: .4s; }

.search span:hover {
  background-color: #f44336; }

.search {
  width: 60px; }
  .content-section{
    max-width: 962px;
    margin: auto;
  }
  .content-image {
    margin-right: 15%;
}
.content-image:nth-child(3n+3){
  margin-right: 0%;
}
.content-image img{
  width: 150px;
  height: auto;
  border-radius: 5px;
}
.content-image span{
  display: block;
  margin-bottom: 10px;
}
.content-title span{
  font-style: italic;
  display: block;
}
.content-section{
  padding: 100px 0;
}
img{
  max-width: 100%;
}
  .content-section{}
  .content-section ul {
    padding-left: 0;
    list-style: none;
}
  .content-section ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    color: #b0a4a4;
}
.content-section ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #b0a4a4;
}
.priching-item {
  margin-right: 2%;
  background: #fff;
}
.priching-item:nth-child(3n+3){
  margin-right: 0%;
}
  .content-section ul li span{}
  .priching-image{}
  .priching-image{
    position: relative;
  }
  .priching-image::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
  }
  .priching-image:hover::after{
    visibility: visible;
    opacity: 1;
  }
  .priching-image {}
  .priching-content {
    padding: 20px 15px;
    padding-top: 15px;
}
.priching-content h5 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}
  .priching-content h6 {
    color: #606060;
    margin-bottom: 10px;
}
  .priching-content p{}
  .priching-content a:hover{
    background-color: #ccc;
    border: none;
    color: #111;
  }
  .priching-content a{
    border: none;
    position: relative;
    z-index: 11;
  }









  .priching-content a::after{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: .25rem;
    animation: play-button 1.4s ease-in infinite ;
  }
  @keyframes play-button {
    0%,30%{
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: scale(1.3);
      opacity: .8;
    }
    75%{
      transform: scale(1.4);
      opacity: .4;
    }
    100%{
      transform: scale(1.5);
      opacity: 0;
    }
    
  }








  .position-absolute {
    position: absolute!important;
    left: 90%;
}
.map-section{
  background: url(map.jpg) no-repeat center center;
  background-size: cover;
  height: 90vh;
}
.footer-social-menu{}
.footer-social-menu ul {
  list-style: none;
  padding-left: 0%;
  margin-bottom: 0;
}
.footer-social-menu ul li {
  display: block;
  margin-right: 9px;
  font-size: 22px;
}
.footer-social-menu ul li a{}
.footer-social-menu ul li a span {
  color: #ccc;
}